@model UserLogin;
@section Styles {
    <link href="~/css/Login.css" rel="stylesheet" />
}

<div style="display: flex; justify-content: center; margin-top:24px;">
    <div style="width: 500px; border: 1px solid black; border-radius: 8px; padding: 24px; background-color:ghostwhite;">
        <div>
            <h3>Login Page </h3>
            <hr />
        </div>
        <form method="post" asp-action="Index" asp-controller="Login">
            @if (ViewBag.IsSucess)
            {
                <div class="alert alert-danger" role="alert">
                    Email-id or password is incorrect
                </div>
            }

            <div class="mb-3">
                <label asp-for="EmailID" class="form-label validate">Email address </label>
                <input asp-for="EmailID" class="form-control " required>

            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label validate">Password </label>
                <input asp-for="Password" class="form-control" id="exampleInputPassword1" required>

            </div>
            <input type="submit" value="Login" class="btn btn-primary" />

        </form>
    </div>
</div>


