<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookReadingEvent.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container" style="background-color:whitesmoke; border-radius:3px;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/books-stack-of-three.svg"  style="width:50px;"/>
                </a>
                <span style="word-spacing:-2px; font-weight:700;">Book Reading Event</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight: 500;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy" style="font-weight: 500;">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CustomerSupport" asp-action="Index" style="font-weight: 500; word-spacing:-1px;">Customer Support</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-primary btn-sm" asp-controller="Login" style="text-decoration:none;color:white;margin-top:3px;margin-bottom:2px;">Login</a>

                    <a asp-action="Index" asp-controller="Signup" class="btn btn-success btn-sm" style="text-decoration:none; color:white;margin-top:3px;margin-right:3px;margin-bottom:2px;">Signup</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer" style="background-color:darkslategray; color:ghostwhite;">
        <div class="container" style="text-align:center;word-spacing:-1px;">
            &copy;2022 Book Reading Events <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color:cornsilk">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
