.outerdiv {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 170px;
}

.insidediv {
    width: 600px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 24px;
}

.validate::after {
    content: '*';
    color: red;
}
