.es234CardWrapper {
    transition: transform 300ms;
    background-color: cadetblue;
}

h6 {
    color: white;
}

.es234CardWrapper:hover {
    transform: scale(1.05);
}

.fw500 {
    font-weight: 500;
}

.primaryClr {
    color: cornsilk !important;
}

.navcolor {
    background-color: cadetblue;
}
